{% extends "base.html" %}

{% block title %}Page Not Found{% endblock %}

{% block css %}
<style type="text/css">
  body{
    padding-top: 40px;
  }
  h1, p, h3{
    text-align:center;
  }
  h1,h3{
    font-size:64px;
    margin: 0 ;
    font-family: 'Quicksand', sans-serif;
  }
  p{
    font-size:24px;
    margin:15px 0;
  }
</style>
{% endblock %}

{% block main %}
<h1>trim.kim</h1> </br><h3>Uh oh! The page you're looking for doesn't exist 😞</h3>
<p>You probably have the wrong shortened URL. </p>
<p>Why don't you just <a href="{{ url_for('home') }}">go back and trim something else</a>?</p>
<p>Thank you for your dropping by. Sorry you couldn't find what you were looking for.</p>
{% endblock %}
